environments {
	dev {
		serverName = 'den02dtf.us.oracle.com'
		port = '7001'
		adminUser = 'weblogic'
		adminUserPwd = 'welcome1'
	}

	test {
		serverName = 'slc00bqs.us.oracle.com'
		port = '7021'
		adminUser = 'weblogic'
		adminUserPwd = 'welcome1'
	}
	security {
		serverName = 'slc03scq.us.oracle.com'
		port = '7001'
		adminUser = 'weblogic'
		adminUserPwd = 'password1'
	}
}
